@import '~@angular/material/theming';
@import './component-themes';
@import './palets';

@include mat-core();

.light-brown-1 {
  $primary: mat-palette($lightBrownPalleteA);
  $accent: mat-palette($lightBrownPalleteB);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
  $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
  @import '~sweetalert2/src/sweetalert2.scss';
}

.red2 {
  $primary: mat-palette($red2a);
  $accent: mat-palette($red2b);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
  $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
  @import '~sweetalert2/src/sweetalert2.scss';
}

.purple2 {
  $primary: mat-palette($purple2a);
  $accent: mat-palette($purple2b);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
  $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
  @import '~sweetalert2/src/sweetalert2.scss';
}

.brown1 {
  $primary: mat-palette($brown1a);
  $accent: mat-palette($brown1b);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
  $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
  @import '~sweetalert2/src/sweetalert2.scss';
}

.brown2 {
  $primary: mat-palette($brown2a);
  $accent: mat-palette($brown2b);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
  $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
  @import '~sweetalert2/src/sweetalert2.scss';
}

.kn-blue {
  $primary: mat-palette($kn7a);
  $accent: mat-palette($kn7b);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
  $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
  @import '~sweetalert2/src/sweetalert2.scss';
}


.blackngray {
  $primary: mat-palette($black);
  $accent: mat-palette($gray);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
  $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
  @import '~sweetalert2/src/sweetalert2.scss';
}

.kn-red {
  $primary: mat-palette($kn18a);
  $accent: mat-palette($kn19b);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
  $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
  @import '~sweetalert2/src/sweetalert2.scss';
}

.kn-green-1 {
  $primary: mat-palette($kn20a);
  $accent: mat-palette($kn21b);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
  $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
  @import '~sweetalert2/src/sweetalert2.scss';
}

.kn-green-2 {
  $primary: mat-palette($kn20a);
  $accent: mat-palette($kn20b);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
  $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
  @import '~sweetalert2/src/sweetalert2.scss';
}

.kn-green-3 {
  $primary: mat-palette($kn21a);
  $accent: mat-palette($kn21b);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
 $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
}

.kn-purple-13 {
  $primary: mat-palette($kn13a);
  $accent: mat-palette($kn13b);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  @include component-themes($theme);
  $swal2-background: mat-color($accent, 900);
  $swal2-question: mat-color($primary, 800);
  $swal2-title-color: mat-color($accent, 100);
  $swal2-content-color: mat-color($accent, 100);
  $swal2-validation-message-background: mat-color($primary, 800);
  $swal2-validation-message-color: mat-color($accent, 100);
  $swal2-white: mat-color($accent, 900);
  @import '~sweetalert2/src/sweetalert2.scss';
}

