
$lightBrownPalleteA: (
    50 : #fcfcfa,
    100 : #f8f6f2,
    200 : #f3f1e9,
    300 : #f8f6f2,
    400 : #eae6da,
    500 : #564d3e,
    600 : #e3dfce,
    700 : #dfdac8,
    800 : #dbd6c2,
    900 : #d5cfb7,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$lightBrownPalleteB: (
    50 : #e7e6e4,
    100 : #c3c0bb,
    200 : #564d3e,
    300 : #746d60,
    400 : #564d3e,
    500 : #382e1c,
    600 : #322919,
    700 : #2b2314,
    800 : #241d11,
    900 : #171209,
    A100 : #ffb559,
    A200 : #ff9f26,
    A400 : #f28700,
    A700 : #d97800,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$red2a: (
    50 : #e8e2e3,
    100 : #c6b6b8,
    200 : #a08689,
    300 : #795659,
    400 : #5d3136,
    500 : #400d12,
    600 : #3a0b10,
    700 : #32090d,
    800 : #2a070a,
    900 : #1c0305,
    A100 : #ff5a66,
    A200 : #ff2737,
    A400 : #f30012,
    A700 : #da0010,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$red2b: (
    50 : #ffe0e0,
    100 : #ffb3b3,
    200 : #ff8080,
    300 : #ff4d4d,
    400 : #ff2626,
    500 : #ff0000,
    600 : #ff0000,
    700 : #ff0000,
    800 : #ff0000,
    900 : #ff0000,
    A100 : #ffffff,
    A200 : #fff2f2,
    A400 : #ffbfbf,
    A700 : #ffa6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$purple2a: (
    50 : #e9e6ed,
    100 : #c7c2d1,
    200 : #a299b3,
    300 : #7c7094,
    400 : #60517d,
    500 : #443266,
    600 : #3e2d5e,
    700 : #352653,
    800 : #2d1f49,
    900 : #1f1338,
    A100 : #9e76ff,
    A200 : #7a43ff,
    A400 : #5510ff,
    A700 : #4700f6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$purple2b: (
    50 : #f1e9f3,
    100 : #ddc8e2,
    200 : #c6a4cf,
    300 : #af7fbc,
    400 : #9d63ad,
    500 : #8c489f,
    600 : #844197,
    700 : #79388d,
    800 : #6f3083,
    900 : #5c2172,
    A100 : #e8b2ff,
    A200 : #da7fff,
    A400 : #cb4cff,
    A700 : #c332ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$brown2a: (
    50 : #e8e6e8,
    100 : #c5c2c6,
    200 : #9e99a1,
    300 : #77707b,
    400 : #5a515e,
    500 : #3d3242,
    600 : #372d3c,
    700 : #2f2633,
    800 : #271f2b,
    900 : #1a131d,
    A100 : #c463ff,
    A200 : #b130ff,
    A400 : #9d00fc,
    A700 : #8d00e2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$brown2b:(
    50 : #f7ebe7,
    100 : #eacdc2,
    200 : #dcac9a,
    300 : #ce8a72,
    400 : #c47153,
    500 : #b95835,
    600 : #b25030,
    700 : #aa4728,
    800 : #a23d22,
    900 : #932d16,
    A100 : #ffd0c8,
    A200 : #ffa595,
    A400 : #ff7a62,
    A700 : #ff6448,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$brown1a: (
    50 : #e7e6e4,
    100 : #c3c0bb,
    200 : #9c978e,
    300 : #746d60,
    400 : #564d3e,
    500 : #382e1c,
    600 : #322919,
    700 : #2b2314,
    800 : #241d11,
    900 : #171209,
    A100 : #ffb559,
    A200 : #ff9f26,
    A400 : #f28700,
    A700 : #d97800,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$brown1b: (
    50 : #f7f4ef,
    100 : #eae3d7,
    200 : #ddd1bc,
    300 : #cfbfa1,
    400 : #c4b18c,
    500 : #baa378,
    600 : #b39b70,
    700 : #ab9165,
    800 : #a3885b,
    900 : #947748,
    A100 : #fff9ef,
    A200 : #ffe5bc,
    A400 : #ffd189,
    A700 : #ffc76f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$black: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$gray: (
    50 : #e7e7e7,
    100 : #c4c3c4,
    200 : #9d9c9c,
    300 : #757474,
    400 : #585657,
    500 : #3a3839,
    600 : #343233,
    700 : #2c2b2c,
    800 : #252424,
    900 : #181717,
    A100 : #f26e6e,
    A200 : #ee3f3f,
    A400 : #fb0000,
    A700 : #e10000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$kn7a: (
    50 : #e0eaee,
    100 : #b3cbd5,
    200 : #80a8b9,
    300 : #4d859d,
    400 : #266a88,
    500 : #005073,
    600 : #00496b,
    700 : #004060,
    800 : #003756,
    900 : #002743,
    A100 : #78baff,
    A200 : #45a0ff,
    A400 : #1286ff,
    A700 : #0079f7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$kn7b: (
    50 : #e3f3fa,
    100 : #bae1f2,
    200 : #8ccde9,
    300 : #5db8e0,
    400 : #3ba9da,
    500 : #189ad3,
    600 : #1592ce,
    700 : #1188c8,
    800 : #0e7ec2,
    900 : #086cb7,
    A100 : #e2f1ff,
    A200 : #afd9ff,
    A400 : #7cc1ff,
    A700 : #63b5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kn13a: (
    50 : #e6e2eb,
    100 : #c2b6ce,
    200 : #9985ae,
    300 : #70548d,
    400 : #512f74,
    500 : #320a5c,
    600 : #2d0954,
    700 : #26074a,
    800 : #1f0541,
    900 : #130330,
    A100 : #9269ff,
    A200 : #6c36ff,
    A400 : #4703ff,
    A700 : #3f00e8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$kn13b: (
    50 : #ebe2f4,
    100 : #cdb8e3,
    200 : #ab88d0,
    300 : #8958bd,
    400 : #7035af,
    500 : #5711a1,
    600 : #4f0f99,
    700 : #460c8f,
    800 : #3c0a85,
    900 : #2c0574,
    A100 : #bda3ff,
    A200 : #9870ff,
    A400 : #733dff,
    A700 : #6124ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$kn17a: (
    50 : #f8e3ee,
    100 : #eeb9d4,
    200 : #e38bb7,
    300 : #d85c9a,
    400 : #cf3985,
    500 : #c7166f,
    600 : #c11367,
    700 : #ba105c,
    800 : #b30c52,
    900 : #a60640,
    A100 : #ffd1df,
    A200 : #ff9ebc,
    A400 : #ff6b98,
    A700 : #ff5286,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kn17b: (
    50 : #fce5f1,
    100 : #f8bfdc,
    200 : #f394c4,
    300 : #ee69ac,
    400 : #eb499b,
    500 : #e72989,
    600 : #e42481,
    700 : #e01f76,
    800 : #dd196c,
    900 : #d70f59,
    A100 : #ffffff,
    A200 : #ffd0e0,
    A400 : #ff9dbe,
    A700 : #ff84ac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$kn18a: (
    50 : #f2e3e2,
    100 : #deb9b7,
    200 : #c88b88,
    300 : #b25d58,
    400 : #a23a34,
    500 : #911710,
    600 : #89140e,
    700 : #7e110c,
    800 : #740d09,
    900 : #620705,
    A100 : #ff9593,
    A200 : #ff6260,
    A400 : #ff302d,
    A700 : #ff1714,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$kn18b: (
    50 : #f7e4e3,
    100 : #ecbcb9,
    200 : #df8f8a,
    300 : #d2625b,
    400 : #c94038,
    500 : #bf1e15,
    600 : #b91a12,
    700 : #b1160f,
    800 : #a9120c,
    900 : #9b0a06,
    A100 : #ffc8c7,
    A200 : #ff9594,
    A400 : #ff6361,
    A700 : #ff4a48,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);


$kn19a: (
    50 : #f8e4e3,
    100 : #eebcb9,
    200 : #e38f8b,
    300 : #d8625c,
    400 : #cf4139,
    500 : #c71f16,
    600 : #c11b13,
    700 : #ba1710,
    800 : #b3120c,
    900 : #a60a06,
    A100 : #ffd2d1,
    A200 : #ff9f9e,
    A400 : #ff6d6b,
    A700 : #ff5452,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kn19b: (
    50 : #fbe5e3,
    100 : #f5bdba,
    200 : #ef918c,
    300 : #e8655e,
    400 : #e3443c,
    500 : #de2319,
    600 : #da1f16,
    700 : #d51a12,
    800 : #d1150e,
    900 : #c80c08,
    A100 : #fff2f2,
    A200 : #ffc0bf,
    A400 : #ff8d8c,
    A700 : #ff7473,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kn20a: (
    50 : #e2ebe3,
    100 : #b6ceb9,
    200 : #85ae8a,
    300 : #548d5b,
    400 : #2f7438,
    500 : #0a5c15,
    600 : #095412,
    700 : #074a0f,
    800 : #05410c,
    900 : #033006,
    A100 : #69ff6e,
    A200 : #36ff3d,
    A400 : #03ff0c,
    A700 : #00e808,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kn20b: (
    50 : #e2f1e4,
    100 : #b7dcbc,
    200 : #87c590,
    300 : #57ad63,
    400 : #339c41,
    500 : #0f8a20,
    600 : #0d821c,
    700 : #0b7718,
    800 : #086d13,
    900 : #045a0b,
    A100 : #8bff92,
    A200 : #58ff61,
    A400 : #25ff31,
    A700 : #0cff19,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$kn21a: (
    50 : #e8ebe2,
    100 : #c5ceb6,
    200 : #9fae85,
    300 : #788d54,
    400 : #5b742f,
    500 : #3e5c0a,
    600 : #385409,
    700 : #304a07,
    800 : #284105,
    900 : #1b3003,
    A100 : #adff69,
    A200 : #91ff36,
    A400 : #75ff03,
    A700 : #69e800,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kn21b: (
    50 : #ecf1e2,
    100 : #cedcb7,
    200 : #aec587,
    300 : #8ead57,
    400 : #759c33,
    500 : #5d8a0f,
    600 : #55820d,
    700 : #4b770b,
    800 : #416d08,
    900 : #305a04,
    A100 : #bfff8b,
    A200 : #a3ff58,
    A400 : #86ff25,
    A700 : #78ff0c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);