@import '~@angular/material/theming';
@import '~material-bottom-nav';

@mixin nav-theme($theme) {
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);

    ::selection {
        background: mat-color($accent, 200);
        color: mat-color($primary, 900);
    }

    h3[matSubheader] {
        z-index: 2;
        position: sticky;
        top: 0;
        background-color: mat-color($accent, 800) !important;
        color: mat-color($primary, 900) !important;
        font-size: 2em !important;
        line-height: 2em;
        font-weight: 500 !important;
    }

    .mat-list-base .mat-subheader:first-child {
        margin-top: 0;
    }
   
    .bottom-nav {
        @include bottom-nav(
            $background-color: mat-color($accent, 800),
            $active-color: mat-color($accent, 300),
            $inactive-color: mat-color($primary, 900),
            $hide-inactive-labels: false);
        border-color: rgba(0, 0, 0, 0.2);
        height: 3.2em;
    }

    .mat-snack-bar-container {
        background-color: mat-color($primary, 500) !important;
        color: mat-color($primary, 100) !important;
        .mat-button {
            background-color: mat-color($primary, 700) !important;
            color: mat-color($primary, 100) !important;
        }
    }

    .mat-button-n {
        background-color: mat-color($accent, 900) !important;
        color: mat-color($primary, 100) !important;
    }

    .mat-list-base {
        padding-top: 0 !important;
    }

    .mat-expansion-panel {
        border-radius: 0 !important; 
        // overflow: inherit !important;
    }

    .mat-expansion-indicator::after {
        color: mat-color($primary, 900) !important;
    }

    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
        color: mat-color($primary, 900) !important;
        font-weight: 500;
    }

    .mat-expansion-panel-body {
        padding: 0 !important;
    }
   
    .app-frame {
        background-color: mat-color($primary, 900) !important;
    }

    .mat-menu-panel, .mat-select-panel, .mat-form-field-underline {
        background-color: mat-color($accent, 800) !important;
    }

    [class="mat-slide-toggle mat-accent"] > label > div, [class="mat-slide-toggle mat-accent cdk-focused cdk-touch-focused"] > label > div, [class="mat-slide-toggle mat-accent cdk-focused cdk-mouse-focused"] > label > div {
        background-color: mat-color($accent, 200) !important;
    }

    .mat-slide-toggle-thumb {
        background-color: mat-color($accent, 700) !important;
    }

    .mat-select-arrow, .mat-select-value-text, .mat-form-field-label {
        color: mat-color($accent, 200) !important;
    }

    .mat-menu-item {
        color: mat-color($primary, 900) !important;
        .mat-icon {
            color: mat-color($primary, 900) !important;
        }
    }

    .mat-menu-item[disabled], .mat-menu-item[disabled]::after {
        color: mat-color($primary, 600) !important;
        .mat-icon {
            color: mat-color($primary, 600) !important;
        }
    }

    .mat-option, .mat-optgroup-label {
        color: mat-color($primary, 900) !important;
    }

    .mat-option.mat-selected:not(.mat-option-disabled) {
        color: mat-color($primary, 600) !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-animation: autofill 0s forwards;
        animation: autofill 0s forwards;
    }
    
    @keyframes autofill {
        100% {
            background: transparent;
            color: inherit;
        }
    }
    
    @-webkit-keyframes autofill {
        100% {
            background: transparent;
            color: inherit;
        }
    }
}

body::-webkit-scrollbar
{
  display: none;
}
