@import '~@angular/material/theming';
@import './styles/material-theme';

body, html, .app-frame { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0px;
    height: 100%;
    background-color: #341717;
}
