<div *ngFor="let user of users | async">
  <div *ngFor="let lesson of user.data.grades">
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header [collapsedHeight]="collapsedHeight" [expandedHeight]="expandedHeight">

          <mat-panel-title>{{lesson.name}}</mat-panel-title>

        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item matRipple *ngFor="let grade of lesson.grades">
            <h4 matLine><b>{{grade.grade}}</b></h4>
            <p matLine>{{grade.category}}</p>
            <p matLine>{{grade.description}}</p>
            <p matLine>{{grade.date}}</p>
            <p matLine>{{grade.issuer}}</p>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
    
      </mat-expansion-panel>
  </div>
</div>