@import '~@angular/material/theming';

@mixin plan-theme($theme) {
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);


    .name {
        font-weight: 600 !important;
    }

    .info {
        font-weight: 500 !important;
        span {
            font-weight: 300 !important;
        }
    }

    .full {
        max-height: 60px !important;
        white-space: normal !important; 
        line-height: 12px;
        padding-right: 2px !important;
        padding-bottom: 2px !important;
    }

    .subject {
        transition: all 0.15s linear;
        font-weight: 200 !important;
        max-height: 20px;
    }

    .star {
        color: mat-color($accent, 600) !important;
    }

    .mat-list-item {
        background-color: mat-color($primary, 900) !important;
        color: mat-color($accent, 200) !important;
    }

    .mat-list-base .mat-expansion-panel-header:first-child {
        margin-top: 0px !important;
    }

    .mat-expansion-panel {
        margin: 0 !important;
        overflow: inherit;
    }

    .mat-expansion-panel-header {
        span {
            font-size: 1.4em !important;
            font-weight: 500 !important;
        }

        background-color: mat-color($accent, 800) !important;
        color: mat-color($primary, 900) !important;
        @include mat-elevation(2);

        z-index: 2;
        position: sticky;
        top: 0px;
    }

    h3[matsubheader] {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .bt {
        margin-bottom: 3.2em;
    }
}
