@import '~@angular/material/theming';

@mixin plan-theme($theme) {
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);

    .mat-subheader {
        background-color: mat-color($accent, 800) !important;
        color: mat-color($primary, 900) !important;
        @include mat-elevation(2);
        z-index: 2;
        width: 100%;
        position: sticky;
        top: 0px;
        font-size: 2em !important;
    }

    .mat-list-item {
        background-color: mat-color($primary, 900) !important;
        color: mat-color($accent, 200) !important;
    }

    .mat-list-base .mat-subheader:first-child {
        margin-top: 0px !important;
    }
}
